$black: #303030;
$black-50: #858585;
$black-20: #b9b9b9;
$black-10: #cacaca;
$white: #fff;
$purple-main: #9747FF;
$brand-hower: #1D00C3;
$brand-active: #14005C;
$purple-tap: #a491e9;
$primary: #000000; 
$secondary: #afadb5;
$accent: #6286D5;
