.modalOverlay {
    background-color: rgba(0, 0, 0, 0.5); /* полупрозрачный фон */
    z-index: 1000;
  }
  
  .modalContent {
    width: 400px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modalTitle {
    color: #333;
  }
  
  .modalButton {
    margin-top: 20px;
    padding: 10px 20px;
  }

  .modalHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
